mixin typography()
	h1 Header 1
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quibusdam molestiae voluptates maxime sint sunt libero itaque dignissimos quae, qui provident recusandae magnam non, sequi iusto consectetur, rerum accusantium quos.

	ul
		li Lorem.
		li Lorem ipsum.
		li Lorem ipsum dolor.

	ol
		li Lorem ipsum dolor.
		li Veniam, quaerat, assumenda!
		li Odit, placeat, a.

	h2 Header 2
	p <strong>Some text</strong> included in "strong" tag <b>another one</b> in "b" tag.

	h3 Header 3
	p <em>Cursive</em> text with <i>"i" tag</i> to.

	h4 Header 4
	p <u>Undescored</u> and <s>stroked</s>

	h5 Header 5
	pre.
		A bit of preformated text

	h6 Header 6
	blockquote And some quote

	table
		tr
			th Table header
			th Table header
		tr
			td Table cell
			td Table cell
