include ./mixins/bootstrap.jade


meta(charset="utf-8")
meta(name="description", content="")

meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")

//- Bootstrap
+bootstrap_css()

//- The font
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,900&amp;subset=cyrillic")
