include ./jade/mixins.jade

doctype html
html(lang="EN")
	head
		block title
			title Starter Template

		block head_meta
			include ./jade/head_meta.jade

		block head_custom_css
			link(rel="stylesheet", href="./css/main.min.css")



	body
		h1 Hi there!
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fugit dicta itaque alias quibusdam animi adipisci doloribus sapiente, tenetur eum, debitis ullam aliquid voluptates enim, magni, saepe similique quam officiis!

		include ./jade/scripts.jade
		include ./jade/ie_fix.jade
