extends ./pug/base_template
include ./pug/mixins/typography

block content
    .container
        -
            var pages = [
                "home"
            ]

        ol
            each page in pages
                li
                    a(href=`./${page}.html`)= page
