include ./jade/mixins.jade

doctype html
html(lang="EN")
	head
		block title
			title Starter Template

		block head_meta
			include ./jade/head_meta.jade

		block head_custom_css
			link(rel="stylesheet", href="./css/main.min.css")



	body
		+typography()

		include ./jade/scripts.jade
		include ./jade/ie_fix.jade
