include ./pug/mixins

doctype html
html(lang="EN")
	head
		block title
			title Starter Template

		block head_meta
			include ./pug/head_meta

		block head_custom_css
			link(rel="stylesheet", href="./css/main.min.css")


	body
		+typography()

		include ./pug/scripts
		include ./pug/ie_fix
